---
import MainLayout from "~/layouts/MainLayout.astro";
---

<MainLayout>
  <main class="flex items-center justify-center w-dvw h-dvh overflow-hidden">
    <h1 class="font-mono text-xl">404 | Page not found</h1>
  </main>
</MainLayout>
